/* css validated */
/* ================ global values =================== */
/* setting the box-sing: defines the calculation of width and height of the elements including content, padding and border */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* ================ body =================== */
/* defines general rules for child elements within the body */
body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    position: relative;
    padding-bottom: 15px;
}

article,
aside,
section {
    /* defines an overall alignment to the left for the elements */
    padding: 0px 10px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h1,
h2,
h3 {
    font-weight: normal;
}

p {
    line-height: 22px;
}

/* ================ main wrapper =================== */
/* sets max-width on the wrapper that contains the body elements*/
.main-wrapper {
    background-color: #d4e9e7;
    max-width: 1024px;
    margin: 0 auto;
    top: 0px;
}

/* ================ header =================== */
/* general properties for the header element */
header {
    background-color: #d4e9e7;
    color: #000;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    height: 400px;
}

/* position the heading on top of the image in the header */
header h1 {
    color: #fff;
    margin: 0;
    position: relative;
    top: -170px;
}

/* ================ nav menu =================== */
/* positions the navigation bar from its original position to the top without affecting the order of the other elements  */
nav {
    position: relative;
    top: -70px
}

nav a {
    text-decoration: none;
    color: #000;
}

/* makes text appear in all-uppercase in the navigation menu, removes bullets from the list and applies in-line alignment to the list items */
nav ul li {
    border-right: 1px solid #000;
    display: inline-block;
    font-size: 22px;
    list-style-type: none;
    text-transform: uppercase;
    width: 320px;
}

/* removes the right border of the last option of the menu*/
nav ul li:last-child {
    border-right: none;
}

/* ================ article =================== */
/* creates the text wrapping around the image */
.wrapper-article img {
    width: 257px;
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}

/* after wrapping content using the float property, adds generative content to prevent overlapping of the next elements and to continue with the flow document*/
.clearfix:after {
    content: " ";
    display: block;
}

/* ================ unordered list =================== */
/* aligns the bullet points to the left*/
aside ul {
    padding: 0px 20px;
}

/* ================ form =================== */
/* sets general style for the form element */
form {
    border: 1px solid #000;
    padding: 20px;
}

/* standard height for all the inputs inside the form */
form input {
    height: 30px;
}

form input,
form textarea {
    width: 100%;
    border: 1px solid #808080;
}

/* adds distribution between the elements in the form(separation) */
form div {
    margin-bottom: 15px;
}

textarea {
    height: 100px;
}

/* sets radios dimensions */
.wrapper-radio input {
    width: 50px;
    height: 15px;
}

/* sets dimensions for the button and makes text appear in all-uppercase */
button {
    text-transform: uppercase;
    border: 1px solid;
    background-color: #d4e9e7;
    padding: 10px 10px;
}

/* ================ footer =================== */
footer {
    padding: 30px 20px;
}

/* moves the copyright to the left */
.copyright {
    bottom: 0;
    right: 0;
    text-align: right;
}