/* ================ global values =================== */
/* define the calculation of width and height of the elements including content, padding and border*/
* {
    box-sizing: border-box;
}

/* ================ body =================== */
/* general rules for all elements inside body */
body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    position: relative;
    padding-bottom: 15px; 
}


article, aside, section {
    padding: 0px 10px; /* define an overal aligment for the elements*/
}

/* ================ main wrapper =================== */
/* set max width on the body content*/
.main-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #d4e9e7;
    top: 0px;
}

/* ================ header =================== */
/* set the general properties for the header element */
header {
    width: 100%;
    text-align: center;
    background-color: #d4e9e7;
    color: black;
    left: 0;
    /* check */
    /* padding-bottom: 10px; */
    height: 400px;
}

/* position the heading on top of the image in the header */
header h1 {
    position: relative;
    color: white;
    /* check */
    /* position: absolute; */
    top: -150px;
}

/* ================ nav menu =================== */
/* check- move the navigation bar */
nav {
    position: relative;
    top: -50px
}

/* make text appear in all-uppercase in navigation menu, remove bullets from list and apply in-line alignment to the list items */
nav ul li {
    width: 300px;
    /* margin-left: 0; */
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid black;
    /* padding: 0 130px 0px 130px; */
    /* check */
    /* background-color: red; */
}

/* remove the right border of the last option of the menu*/
nav ul li:last-child {
    border-right: none;
}

nav a {
    text-decoration: none;
}

/* ================ article =================== */
/* Image should have the text wrapping around it */
.wrapper-article img {
    width: 257px;
    height: 257px;
    float: left;
    margin: 0 20px 0 0;
    background-color: red;
}

/* after wrpaping content, add generative content to continue with the flow document*/
.clearfix:after {
    content: ""; 
    display:block;
}

/* ================ unordered list =================== */
/* align the bullet points to the left*/
aside ul {
    padding: 0px 20px;
}

/* ================ form =================== */
/* set general style for the form element */
form {
    border: 1px solid black;
    padding: 20px;
}
/* set standart height for all the inputs inside the form */
form input {
    height: 30px;
}

form input, form textarea {
    /* check */
    /* display: block; */
    width: 100%;
    border: 1px solid grey;
}
/* add distribution between the elements in the form */
form div {
    margin-bottom: 15px;
}

textarea {
    height: 100px;
}

/* set radios dimensions */
.wrapper-radio input {
    /* check */
    /* display: inline; */
    width: 50px;
    height: 15px;
}

/* check */
/* .wrapper-radio label {
    position: relative;
    top: -3px;
} */


/* bottom with background, specific dimensions and make text appear in all-uppercase*/
button {
    text-transform: uppercase;
    border: 1px solid;
    background-color: #d4e9e7;
    height: 40px;
    width: 55px;
}

/* ================ footer =================== */
footer {
    height: 90px;
    padding: 40px 20px 0 0;
}
/* position the copyright to the left */
.copyright {
    /* position: fixed; */
    bottom: 0;
    right: 0;
    text-align: right;
}