/* ================ global values =================== */
/* setting the box-sing: defines the calculation of width and height of the elements including content, padding and border */
html {
    box-sizing: border-box;
  }

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ================ body =================== */
/* defines general rules for child elements inside body */
body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    position: relative;
    padding-bottom: 15px; 
}

article, 
aside, 
section {
    padding: 0px 10px; /* define an overal aligment for the elements*/
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 28px; 
}

h3 {
    font-size: 24px;
}

h1,
h2,
h3 {
    font-weight: normal;
}

p {
    line-height: 20px;
}

/* ================ main wrapper =================== */
/* set max width on the wrapper content for body elements*/
.main-wrapper {
    background-color: #d4e9e7;
    max-width: 1024px;
    margin: 0 auto;
    top: 0px;
}

/* ================ header =================== */
/* set the general properties for the header element */
header {
    background-color: #d4e9e7;
    color: black;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    height: 400px;
}

/* position the heading on top of the image in the header */
header h1 {
    color: white;
    margin: 0;
    position: relative;
    top: -170px;
}

/* ================ nav menu =================== */
/* moves the navigation bar  */
nav {
    position: relative;
    top: -70px
}

nav a {
    text-decoration: none;
    color: black;
}

/* makes text appear in all-uppercase in navigation menu, remove bullets from list and apply in-line alignment to the list items */
nav ul li {
    border-right: 1px solid black;
    display: inline-block;
    font-size: 22px;
    list-style-type: none;
    padding: 0 100px;
    text-transform: uppercase;
}

/* removes the right border of the last option of the menu*/
nav ul li:last-child {
    border-right: none;
}

/* ================ article =================== */
/* creates the text wrapping around the image */
.wrapper-article img {
    width: 257px;
    height: 257px;
    float: left;
    margin: 0 20px 10px 0;
}

/* after wraping content, adds generative content to continue with the flow document*/
.clearfix:after {
    content: " "; 
    display:block;
}

/* ================ unordered list =================== */
/* align the bullet points to the left*/
aside ul {
    padding: 0px 20px;
}

/* ================ form =================== */
/* set general style for the form element */
form {
    border: 1px solid black;
    padding: 20px;
}

/* standart height for all the inputs inside the form */
form input {
    height: 30px;
}

form input, 
form textarea {
    width: 100%;
    border: 1px solid grey;
}

/* adds distribution between the elements in the form(separation) */
form div {
    margin-bottom: 15px;
}

textarea {
    height: 100px;
}

/* set radios dimensions */
.wrapper-radio input {
    width: 50px;
    height: 15px;
}

/* button with background, specific dimensions and make text appear in all-uppercase*/
button {
    text-transform: uppercase;
    border: 1px solid;
    background-color: #d4e9e7;
    padding: 10px 10px;
}

/* ================ footer =================== */
footer {
    padding: 30px 20px;
}

/* position the copyright to the left */
.copyright {
    bottom: 0;
    right: 0;
    text-align: right;
}